[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "aom"]
	path = aom
	url = https://aomedia.googlesource.com/aom
